# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Coverage / test output
coverage/

# Babel cache
.cache/
